* {
    padding: 0;
    margin: 0;
    box-sizing: content-box;
}

header{
    margin-top: 40px;
}

header h1
{
    font-family: 'Inconsolata', monospace;;
    font-weight: bold;
    font-size: 1.5em;
    line-height: 1.5625em;
    letter-spacing: -0.08em;
    text-transform: uppercase;
    color: #333333;
}

.container {
    width: 80%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

main{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    padding: 100px 0;
}

.nested-content {
    max-width: 600px;
    margin-left: 120px;
}

#picture{  
    display: block;
    width: 38.8%;
    max-width: 560px;
    transition: all 1s ease-in-out;
    cursor: pointer;
}

#title{

    font-family: 'Space Mono', monospace;
    font-style: normal;
    font-weight: bold;
    font-size: 64px;
    line-height: 95px;
    letter-spacing: -0.035em;
    color: #333333;
}


#content{

    font-family: 'Space Mono', monospace;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 36px;
    margin-top: 36px;
    letter-spacing: -0.035em;
    color: #4F4F4F;
}

#blackbox{
    display: inline-block;
    background-color: black;
    margin-top: 64px;
}


#blackboxContent
{
    font-family: 'Space Mono', monospace;;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 21px;
    padding: 24px 43px 23px 43px;
    text-align:center;
    /* identical to box height */
    letter-spacing: -0.035em;
    text-transform: uppercase;
    color: white;
}


footer{
    font-family:    'Montserrat', sans-serif;
    font-style:     normal;
    font-weight:    500;
    font-size:      14px;
    line-height:    17px;
    
    text-align: center;
    color: #BDBDBD;
}